{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3 class="text-center mt-2">Order Summary</h3>
  <br />
  <div class="row">
    <table class="table text-center">
      <tr class="text-center">
        <th>Item</th>
        <th>Price</th>
      </tr>
      {% for product in order.get_cart_items %}
      <tr>
        <td>
          {{ product.product.name }}
          <span class="pull-right">
            <a href="{% url 'cart:delete_item' product.id %}"
              >Remove<i class="fa fa-trash"></i
            ></a>
          </span>
        </td>
        <td>{{ product.product.cost }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">
          No products added yet!
        </td>
      </tr>
      {% endfor %}
      <tr>
        {% if order.get_cart_total != None %}
        <td colspan="2">
          <p class="pull-right">
            Order Total :
          </p>
        </td>
        <td colspan="1">Rs {{ order.get_cart_total }}</td>
        {% endif %}
      </tr>
    </table>

    <a href="{% url 'ehome:shop' %}" class="btn btn-warning pull-left ">
      Continue Shopping
    </a>
    <a href="{% url 'cart:mail' %}" class="btn btn-primary ml-2">Checkout</a>
  </div>
</div>
{% endblock %}
